header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #6e232a;
    height: 150px;
    border-radius: 5%;
}

.logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.logotitle {
    margin-top: 15px;
    margin-left: 10PX;
    font-size: 50px;
    color: #a88282;
    font-family: monospace;
    text-shadow: 4px 4px 5px rgb(2, 0, 0);
    -webkit-text-stroke: 1px#000000
}

.mobilenav {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
}

.defaultnav {
    display: none;
}

nav {
    width: 40%;
    /* height: 90px; */
    background-color: #fb9696;
    /* margin-left:  700px;
	margin-top: -145px; */
    border: solid;
    border-color: #4b281f;
    border-radius: 30%;
}

.navi {
    display: flex;
    margin: 10px;
    font-size: 45px;
    color: #000000;
}

body {
    background:
        radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%),
        radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%),
        radial-gradient(circle closest-side at 42% 22%, #d35 43%, rgba(221, 51, 85, 0) 45%),
        radial-gradient(circle closest-side at 58% 22%, #d35 43%, rgba(221, 51, 85, 0) 45%),
        radial-gradient(circle closest-side at 50% 35%, #d35 32%, rgba(221, 51, 85, 0) 27%),

        radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%) 50px 50px,
        radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%) 50px 50px,
        radial-gradient(circle closest-side at 40% 22%, #d35 40%, rgba(221, 51, 85, 0) 45%) 52px 50px,
        radial-gradient(circle closest-side at 60% 22%, #d35 40%, rgba(221, 51, 85, 0) 45%) 48px 50px,
        radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221, 51, 85, 0) 37%) 50px 50px;
    background-color: rgb(181, 11, 56);
    background-size: 100px 100px;
}

.mid>* {
    background-color: #ffadad;
    border: solid;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 99%;
    min-width: 99%;
    border-radius: 10%;
    align-items: center;
}

.midtitle {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    align-items: center;
}

table {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 800px;
    height: 280px;
    /* border-spacing: 0px;
    border-width: 2px;
    border-color: #000000; */
}

tr {
    background-color: #d35;
}

.trchet {
    background-color: #ce4848;
}

th {
    border: solid;
    border-width: 2px;
    border-color: #000000;
}

label>* {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #000000;
}

footer {
    position: static;
    bottom: 0px;
    width: 100%;
    background-color: #ffadad;
    height: 50px;
    margin-top: 50px;
    border: solid;
    border-color: #000000;
    border-radius: 10%;
}



@media screen and (min-width: 1000px) {
    .linkblock {
        order: 1;
    }

    .tableblock {
        order: 2;
    }

    .formblock {
        order: 3;
    }

    .defaultnav {
        display: flex;
        width: 700px;
        height: 90px;
        background-color: #fb9696;
        margin-left: 20%;
        border: solid;
        border-color: #4b281f;
        border-radius: 30%;
    }

    body {
        background:
            radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%),
            radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%),
            radial-gradient(circle closest-side at 42% 22%, #d35 43%, rgba(221, 51, 85, 0) 45%),
            radial-gradient(circle closest-side at 58% 22%, #d35 43%, rgba(221, 51, 85, 0) 45%),
            radial-gradient(circle closest-side at 50% 35%, #d35 32%, rgba(221, 51, 85, 0) 27%),

            radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%) 50px 50px,
            radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%) 50px 50px,
            radial-gradient(circle closest-side at 40% 22%, #d35 40%, rgba(221, 51, 85, 0) 45%) 52px 50px,
            radial-gradient(circle closest-side at 60% 22%, #d35 40%, rgba(221, 51, 85, 0) 45%) 48px 50px,
            radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221, 51, 85, 0) 37%) 50px 50px;
        background-color: rgb(181, 11, 56);
        background-size: 100px 100px;
    }

    header {
        display: flex;
        position: static;
        width: 100%;
        background-color: #6e232a;
        height: 150px;
        border-radius: 5%;
    }

    .logo {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }

    .logotitle {
        margin-top: 15px;
        margin-left: 10PX;
        font-size: 50px;
        color: #a88282;
        font-family: monospace;
        text-shadow: 4px 4px 5px rgb(2, 0, 0);
        -webkit-text-stroke: 1px#000000
    }

    .navi {
        margin: 0px;
        margin-left: 50px;
        margin-top: 20px;
        font-size: 30px;
        color: #000000;
        font-family: monospace;
    }

    .mid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mid>* {
        display: flex;
        flex-direction: column;
        background-color: #ffadad;
        border: solid;
        border-color: #000000;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 960px;
        min-width: 960px;
        border-radius: 10%;
    }

    .midtitle {
        font-family: monospace;
        font-size: 50px;
        text-align: center;
    }

    .mobilenav {
        display: none;
    }

    table {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        width: 800px;
        height: 280px;
        /* border-spacing: 0px;
        border-width: 2px;
        border-color: #000000; */
    }

    tr {
        background-color: #d35;
    }

    .trchet {
        background-color: #ce4848;
    }

    th {
        border: solid;
        border-width: 2px;
        border-color: #000000;
    }

    label>* {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        color: #000000;
    }

    footer {
        position: static;
        bottom: 0px;
        width: 100%;
        background-color: #ffadad;
        height: 50px;
        margin-top: 50px;
        border: solid;
        border-color: #000000;
        border-radius: 10%;
    }
}
