img{
    width: 384px;
    height: 216px;
}
body{
    display: flex;
    flex-direction: column;
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
}
.multiple-items{
    display:flex;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.multiple-items .slick-slide{

    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 1080px) {
    .multiple-items{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        width: 768px;
        height: 432px;
    }
    
}