img{
    width: 384px;
    height: 216px;
}
body{
    display: flex;
    flex-direction: column;
    background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}
.multiple-items{
    display:flex;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.multiple-items .slick-slide{

    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 1080px) {
    .multiple-items{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        width: 768px;
        height: 432px;
    }
    
}
